<div id="login">
  <h1>Login</h1>

  <form action="/login" method="POST">
    <div>
      <label for="username">Username</label>
      <input type="text" name="username" id="username">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
    </div>
    <button type="submit">Login</button>
  </form>

  {{#if errors}}
    <br>
      <div class="mb-3" style="color: red;">
        <small class="text-danger">Email or password incorrect</small>
      </div>
  {{/if}}

</div>